
    <html>
    <header>
        <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/racksv2.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/footer.css"/>
        <title>Racks</title>
    </header>
    <body>
    <div class="page-content">        
        <nav class="navbar" id="header">
            <div class="container" id="bloco-lg">
                <a class="navbar-brand header-logo text-light d-flex align-items-center" href="/">
                    <img src="/static/img/logo_COIDS_GRANDE.png" id="logo__coids" class="img-fluid" alt="logo__coids"/>
                    <h1>COIDS</h1>
                </a>
                <div class="br-list w-30">
                    <a class="br-item" id="menu__header" href="http://condado.cptec.inpe.br/site-gov-coids/index.html#header">Home</a>
                    <a class="br-item" id="menu__header" href="http://condado.cptec.inpe.br/site-gov-coids/servicos.html">Serviços</a>
                    <a class="br-item" id="menu__header" href="http://condado.cptec.inpe.br/site-gov-coids/estatisticas.html">Estatísticas</a>
                    <a class="br-item" id="menu__header" href="http://condado.cptec.inpe.br/site-gov-coids/contato.html">Contato</a>
                    <a class="br-item" id="menu__header" href="http://condado.cptec.inpe.br/site-gov-coids/sobre.html">Sobre</a>
                </div>

                <div class="col-12">
                    <div class="titulo_header">
                        Coordenação de Infraestrutura de Dados <br> e Supercomputação
                    </div>
                </div>
            </div>
        </nav>
        <div class="table_racksv2">
          <h1 class="text-center subtitulo-padrao-conteudo">Racks</h1> 
          <table border="1" class="dataframe" id="table-Rv2">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Rack</th>
      <th>Quantidade</th>
      <th>Responsável</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Potência (W)</th>
      <th>Tarifa Mensal</th>
      <th>Diário/Rack</th>
      <th>Mensal/Rack</th>
      <th>Anual/Rack</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AI33</td>
      <td>4</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R905</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 103,53</td>
      <td>R$ 3.105,91</td>
      <td>R$ 37.270,89</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BO52</td>
      <td>7</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G8</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 75,77</td>
      <td>R$ 2.272,96</td>
      <td>R$ 27.275,51</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM/DIMNT</td>
      <td>DELL</td>
      <td>R710</td>
      <td>570</td>
      <td>R$ 402,36</td>
      <td>R$ 13,41</td>
      <td>R$ 402,36</td>
      <td>R$ 4.828,27</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM</td>
      <td>HPE</td>
      <td>DL385 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM</td>
      <td>DELL</td>
      <td>R620</td>
      <td>495</td>
      <td>R$ 349,41</td>
      <td>R$ 11,65</td>
      <td>R$ 349,41</td>
      <td>R$ 4.192,97</td>
    </tr>
    <tr>
      <th>5</th>
      <td>BO55</td>
      <td>4</td>
      <td>DISSM</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 43,29</td>
      <td>R$ 1.298,83</td>
      <td>R$ 15.586,01</td>
    </tr>
    <tr>
      <th>6</th>
      <td>BO55</td>
      <td>2</td>
      <td>DISSM</td>
      <td>SUPERMICRO</td>
      <td>XEON E5430 2.66GHZ</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM</td>
      <td>SUPERMICRO</td>
      <td>X1ODRL-L</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>8</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM</td>
      <td>HPE</td>
      <td>DL380P - G8</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>9</th>
      <td>BO55</td>
      <td>3</td>
      <td>DISSM</td>
      <td>SUN FIRE</td>
      <td>V20Z</td>
      <td>430</td>
      <td>R$ 303,53</td>
      <td>R$ 30,35</td>
      <td>R$ 910,60</td>
      <td>R$ 10.927,15</td>
    </tr>
    <tr>
      <th>10</th>
      <td>BO55</td>
      <td>3</td>
      <td>DISSM</td>
      <td>IBM</td>
      <td>XSERIES 3550</td>
      <td>670</td>
      <td>R$ 472,94</td>
      <td>R$ 47,29</td>
      <td>R$ 1.418,83</td>
      <td>R$ 17.026,02</td>
    </tr>
    <tr>
      <th>11</th>
      <td>BO55</td>
      <td>1</td>
      <td>DISSM</td>
      <td>LENOVO</td>
      <td>X 3650 M5</td>
      <td>550</td>
      <td>R$ 388,24</td>
      <td>R$ 12,94</td>
      <td>R$ 388,24</td>
      <td>R$ 4.658,86</td>
    </tr>
    <tr>
      <th>12</th>
      <td>BO58</td>
      <td>1</td>
      <td>DIMNT</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>750</td>
      <td>R$ 529,42</td>
      <td>R$ 17,65</td>
      <td>R$ 529,42</td>
      <td>R$ 6.352,99</td>
    </tr>
    <tr>
      <th>13</th>
      <td>BO58</td>
      <td>1</td>
      <td>DIMNT</td>
      <td>HPE</td>
      <td>DL980 - G7</td>
      <td>1200</td>
      <td>R$ 847,07</td>
      <td>R$ 28,24</td>
      <td>R$ 847,07</td>
      <td>R$ 10.164,79</td>
    </tr>
    <tr>
      <th>14</th>
      <td>BO58</td>
      <td>1</td>
      <td>DIMNT</td>
      <td>HPE</td>
      <td>DL380P - G8</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>15</th>
      <td>BJ49</td>
      <td>1</td>
      <td>DISSM</td>
      <td>IBM</td>
      <td>XSERIES 3650</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>16</th>
      <td>BJ49</td>
      <td>1</td>
      <td>DISSM</td>
      <td>SUN FIRE</td>
      <td>X2200</td>
      <td>450</td>
      <td>R$ 317,65</td>
      <td>R$ 10,59</td>
      <td>R$ 317,65</td>
      <td>R$ 3.811,80</td>
    </tr>
    <tr>
      <th>17</th>
      <td>BJ50</td>
      <td>3</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R740</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 77,65</td>
      <td>R$ 2.329,43</td>
      <td>R$ 27.953,16</td>
    </tr>
    <tr>
      <th>18</th>
      <td>BJ50</td>
      <td>7</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R640</td>
      <td>1600</td>
      <td>R$ 1.129,42</td>
      <td>R$ 263,53</td>
      <td>R$ 7.905,95</td>
      <td>R$ 94.871,35</td>
    </tr>
    <tr>
      <th>19</th>
      <td>BJ50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R740XD</td>
      <td>750</td>
      <td>R$ 529,42</td>
      <td>R$ 17,65</td>
      <td>R$ 529,42</td>
      <td>R$ 6.352,99</td>
    </tr>
    <tr>
      <th>20</th>
      <td>BJ50</td>
      <td>1</td>
      <td>DISSM</td>
      <td>IBM</td>
      <td>XSERIES 3650</td>
      <td>360</td>
      <td>R$ 254,12</td>
      <td>R$ 8,47</td>
      <td>R$ 254,12</td>
      <td>R$ 3.049,44</td>
    </tr>
    <tr>
      <th>21</th>
      <td>BJ50</td>
      <td>1</td>
      <td>DISSM</td>
      <td>DESCONHECIDO</td>
      <td>DESCONHECIDO</td>
      <td>360</td>
      <td>R$ 254,12</td>
      <td>R$ 8,47</td>
      <td>R$ 254,12</td>
      <td>R$ 3.049,44</td>
    </tr>
    <tr>
      <th>22</th>
      <td>BJ50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>23</th>
      <td>BJ50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL385 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>24</th>
      <td>BJ50</td>
      <td>2</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G6</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>BJ52</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>HP</td>
      <td>ALPHASERVER DS15</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>26</th>
      <td>BJ52</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>HPE</td>
      <td>ML350</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>27</th>
      <td>BJ52</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>DELL</td>
      <td>R710</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>28</th>
      <td>BJ53</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>DELL</td>
      <td>R910</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 25,88</td>
      <td>R$ 776,48</td>
      <td>R$ 9.317,72</td>
    </tr>
    <tr>
      <th>29</th>
      <td>BJ53</td>
      <td>1</td>
      <td>DIPTC</td>
      <td>HPE</td>
      <td>DL380 - G6</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>30</th>
      <td>BJ53</td>
      <td>1</td>
      <td>DIPTC</td>
      <td>GIGABYTE</td>
      <td>R282-Z91</td>
      <td>1600</td>
      <td>R$ 1.129,42</td>
      <td>R$ 37,65</td>
      <td>R$ 1.129,42</td>
      <td>R$ 13.553,05</td>
    </tr>
    <tr>
      <th>31</th>
      <td>BJ53</td>
      <td>1</td>
      <td>DIPTC</td>
      <td>HPE</td>
      <td>DL360 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>32</th>
      <td>BJ53</td>
      <td>1</td>
      <td>DIPTC</td>
      <td>APPLE</td>
      <td>MAC OS X 10.6 SVR UNLIMITED CLIENT</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>33</th>
      <td>BJ54</td>
      <td>1</td>
      <td>SESUP/DISSM/DGI</td>
      <td>DELL</td>
      <td>R730XD</td>
      <td>600</td>
      <td>R$ 423,53</td>
      <td>R$ 14,12</td>
      <td>R$ 423,53</td>
      <td>R$ 5.082,39</td>
    </tr>
    <tr>
      <th>34</th>
      <td>BJ54</td>
      <td>1</td>
      <td>SESUP/DISSM/DGI</td>
      <td>SGI</td>
      <td>SGI 828-14</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>35</th>
      <td>BJ54</td>
      <td>1</td>
      <td>SESUP/DISSM/DGI</td>
      <td>SUPERMICRO</td>
      <td>X1ODRL-L</td>
      <td>1400</td>
      <td>R$ 988,24</td>
      <td>R$ 32,94</td>
      <td>R$ 988,24</td>
      <td>R$ 11.858,92</td>
    </tr>
    <tr>
      <th>36</th>
      <td>BJ54</td>
      <td>2</td>
      <td>SESUP/DISSM/DGI</td>
      <td>HPE</td>
      <td>DL360 - G6</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>37</th>
      <td>BJ54</td>
      <td>1</td>
      <td>SESUP/DISSM/DGI</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>38</th>
      <td>BJ55</td>
      <td>2</td>
      <td>CCST</td>
      <td>HPE</td>
      <td>ML350 - G6</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>39</th>
      <td>BJ55</td>
      <td>2</td>
      <td>CCST</td>
      <td>DELL</td>
      <td>T710</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 51,77</td>
      <td>R$ 1.552,95</td>
      <td>R$ 18.635,44</td>
    </tr>
    <tr>
      <th>40</th>
      <td>BJ55</td>
      <td>1</td>
      <td>CCST</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>41</th>
      <td>BJ55</td>
      <td>1</td>
      <td>CCST</td>
      <td>HPE</td>
      <td>DL380P - G8</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>42</th>
      <td>BJ55</td>
      <td>2</td>
      <td>CCST</td>
      <td>HPE</td>
      <td>DL580P - G5</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>43</th>
      <td>BJ56</td>
      <td>2</td>
      <td>CCST/SESUP</td>
      <td>DELL</td>
      <td>R910</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 51,77</td>
      <td>R$ 1.552,95</td>
      <td>R$ 18.635,44</td>
    </tr>
    <tr>
      <th>44</th>
      <td>BJ56</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>DELL</td>
      <td>R720</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 25,88</td>
      <td>R$ 776,48</td>
      <td>R$ 9.317,72</td>
    </tr>
    <tr>
      <th>45</th>
      <td>BJ56</td>
      <td>1</td>
      <td>CCST/SESUP</td>
      <td>DELL</td>
      <td>R530</td>
      <td>750</td>
      <td>R$ 529,42</td>
      <td>R$ 17,65</td>
      <td>R$ 529,42</td>
      <td>R$ 6.352,99</td>
    </tr>
    <tr>
      <th>46</th>
      <td>BJ57</td>
      <td>1</td>
      <td>DISSM/SESUP</td>
      <td>SUPERMICRO</td>
      <td>X1ODRL-L</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>47</th>
      <td>BJ57</td>
      <td>4</td>
      <td>DISSM/SESUP</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 43,29</td>
      <td>R$ 1.298,83</td>
      <td>R$ 15.586,01</td>
    </tr>
    <tr>
      <th>48</th>
      <td>BJ58</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G6</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>49</th>
      <td>BJ58</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G7</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>50</th>
      <td>BJ58</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G5</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>51</th>
      <td>BG46</td>
      <td>1</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>Z840</td>
      <td>850</td>
      <td>R$ 600,00</td>
      <td>R$ 20,00</td>
      <td>R$ 600,00</td>
      <td>R$ 7.200,06</td>
    </tr>
    <tr>
      <th>52</th>
      <td>BG46</td>
      <td>3</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380P - G8 (INTEL XEON E5-2640)</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 32,47</td>
      <td>R$ 974,13</td>
      <td>R$ 11.689,51</td>
    </tr>
    <tr>
      <th>53</th>
      <td>BG46</td>
      <td>4</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R740 (XEON GOLD 6230N 2.30GHz)</td>
      <td>1100</td>
      <td>R$ 776,48</td>
      <td>R$ 103,53</td>
      <td>R$ 3.105,91</td>
      <td>R$ 37.270,89</td>
    </tr>
    <tr>
      <th>54</th>
      <td>BG47</td>
      <td>2</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380P - G8 (INTEL XEON E5-2640)</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 21,65</td>
      <td>R$ 649,42</td>
      <td>R$ 7.793,00</td>
    </tr>
    <tr>
      <th>55</th>
      <td>BG47</td>
      <td>13</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G10 (XEON SILVER 4210 2.40 GHZ)</td>
      <td>800</td>
      <td>R$ 564,71</td>
      <td>R$ 244,71</td>
      <td>R$ 7.341,24</td>
      <td>R$ 88.094,82</td>
    </tr>
    <tr>
      <th>56</th>
      <td>BG48</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>57</th>
      <td>BG48</td>
      <td>1</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>TL2000</td>
      <td>0</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
      <td>R$ -</td>
    </tr>
    <tr>
      <th>58</th>
      <td>BG50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R540</td>
      <td>750</td>
      <td>R$ 529,42</td>
      <td>R$ 17,65</td>
      <td>R$ 529,42</td>
      <td>R$ 6.352,99</td>
    </tr>
    <tr>
      <th>59</th>
      <td>BG50</td>
      <td>5</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R650 (2x Intel Xeon Gold 6330 2.80GHz)</td>
      <td>800</td>
      <td>R$ 564,71</td>
      <td>R$ 94,12</td>
      <td>R$ 2.823,55</td>
      <td>R$ 33.882,62</td>
    </tr>
    <tr>
      <th>60</th>
      <td>BG54</td>
      <td>1</td>
      <td>SESUP/DIMNT/DISSM</td>
      <td>SUPERMICRO</td>
      <td>4P</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>61</th>
      <td>BG54</td>
      <td>1</td>
      <td>SESUP/DIMNT/DISSM</td>
      <td>SUPERMICRO</td>
      <td>INF771</td>
      <td>460</td>
      <td>R$ 324,71</td>
      <td>R$ 10,82</td>
      <td>R$ 324,71</td>
      <td>R$ 3.896,50</td>
    </tr>
    <tr>
      <th>62</th>
      <td>BG54</td>
      <td>2</td>
      <td>SESUP/DIMNT/DISSM</td>
      <td>DELL</td>
      <td>POWEREDGE 1950</td>
      <td>670</td>
      <td>R$ 472,94</td>
      <td>R$ 31,53</td>
      <td>R$ 945,89</td>
      <td>R$ 11.350,68</td>
    </tr>
    <tr>
      <th>63</th>
      <td>BG54</td>
      <td>1</td>
      <td>SESUP/DIMNT/DISSM</td>
      <td>DELL</td>
      <td>R900</td>
      <td>1030</td>
      <td>R$ 727,06</td>
      <td>R$ 24,24</td>
      <td>R$ 727,06</td>
      <td>R$ 8.724,78</td>
    </tr>
    <tr>
      <th>64</th>
      <td>AZ50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R6525 (AMD EPYC 7H12 2.60GHz, 64C/128T, 256M Cache)</td>
      <td>1400</td>
      <td>R$ 988,24</td>
      <td>R$ 32,94</td>
      <td>R$ 988,24</td>
      <td>R$ 11.858,92</td>
    </tr>
    <tr>
      <th>65</th>
      <td>AZ50</td>
      <td>1</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>ME4084 (INTEL 2-CORE, 2.2GHz)</td>
      <td>2200</td>
      <td>R$ 1.552,95</td>
      <td>R$ 51,77</td>
      <td>R$ 1.552,95</td>
      <td>R$ 18.635,44</td>
    </tr>
    <tr>
      <th>66</th>
      <td>AZ50</td>
      <td>2</td>
      <td>SESUP</td>
      <td>HPE</td>
      <td>DL380 - G10 (XEON SILVER 4210 2.40 GHz)</td>
      <td>800</td>
      <td>R$ 564,71</td>
      <td>R$ 37,65</td>
      <td>R$ 1.129,42</td>
      <td>R$ 13.553,05</td>
    </tr>
    <tr>
      <th>67</th>
      <td>AZ51</td>
      <td>10</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R6525 (AMD EPYC 7H12 2.60GHz, 64C/128T, 256M Cache)</td>
      <td>1400</td>
      <td>R$ 988,24</td>
      <td>R$ 329,41</td>
      <td>R$ 9.882,43</td>
      <td>R$ 118.589,18</td>
    </tr>
    <tr>
      <th>68</th>
      <td>AZ51</td>
      <td>2</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R7525 (AMD EPYCTM PROCESSORS UP TO 64 CORES)</td>
      <td>800</td>
      <td>R$ 564,71</td>
      <td>R$ 37,65</td>
      <td>R$ 1.129,42</td>
      <td>R$ 13.553,05</td>
    </tr>
    <tr>
      <th>69</th>
      <td>AZ51</td>
      <td>2</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>ME4084 (INTEL 2-CORE, 2.2GHz)</td>
      <td>2200</td>
      <td>R$ 1.552,95</td>
      <td>R$ 103,53</td>
      <td>R$ 3.105,91</td>
      <td>R$ 37.270,89</td>
    </tr>
    <tr>
      <th>70</th>
      <td>AZ52</td>
      <td>28</td>
      <td>SESUP</td>
      <td>DELL</td>
      <td>R6525 (AMD EPYC 7H12 2.60GHz, 64C/128T, 256M Cache)</td>
      <td>1400</td>
      <td>R$ 988,24</td>
      <td>R$ 922,36</td>
      <td>R$ 27.670,81</td>
      <td>R$ 332.049,72</td>
    </tr>
    <tr>
      <th>71</th>
      <td>TOTAL</td>
      <td>168</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>R$ 3.468,85</td>
      <td>R$ 104.065,54</td>
      <td>R$ 1.248.786,46</td>
    </tr>
    <tr>
      <th>72</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>73</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>74</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>75</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>76</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>77</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>78</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
        </div>
        
        <!-- Footer -->
  <footer class="text-center text-lg-start fundo-escuro" id="footer">

    <!-- Section: Links  -->
    <section class="p-4">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <div class="footer">
                <a class="navbar-brand header-logo text-light d-flex align-items-center" href="http://condado.cptec.inpe.br/site-gov-coids/index.html" id="footer">
                  <img src="static/img/logo_COIDS_GRANDE-PhotoRoom.png" id="logo-coids" class="img-fluid"
                    alt="logo-coids" />
                  <h1>COIDS</h1>
                </a>
                <a class="navbar-brand header-logo text-light d-flex align-items-center mt-3"
                  href="https://www.gov.br/inpe/pt-br" target="_blank">
                  <img src="static/img/inpe_logo2023" id="logo-inpe" class="img-fluid" alt="logo-inpe" />
                </a>
              </div>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 fonte_footer">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 titulo_footer">
              Serviços
            </h6>

            <p>
              <a class="text-reset" href="http://sssn.cptec.inpe.br/" target="_blank">3S Portal</a>
            </p>
            <p>
              <a href="http://condado:8000/" class="text-reset" target="_blank">Netbox</a>
            </p>
            <p>
              <a href="http://mansidao.cptec.inpe.br/wiki/" class="text-reset" target="_blank">Wiki</a>
            </p>
            <p>
              <a href="http://juazeiro.cptec.inpe.br/ocomon_coids/login.php" class="text-reset"
                target="_blank">Racktables</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 fonte_footer">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 titulo_footer">
              Estatísticas
            </h6>
            <p>
              <a href="http://condado.cptec.inpe.br/site-gov-coids/estatisticas.html" class="text-reset">Aplicações</a>
            </p>
            <p>
              <a href="http://condado.cptec.inpe.br/site-gov-coids/estatisticas.html" class="text-reset">Downloads</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 fonte_footer">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 titulo_footer">
              Contato
            </h6>
            <p>
              <a href="http://condado.cptec.inpe.br/site-gov-coids/contato.html" class="text-reset">Secretaria</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 fonte_footer">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Sobre</h6>
            <p>
              <a href="http://condado.cptec.inpe.br/site-gov-coids/sobre.html" class="text-reset">A COIDS</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="container">
      <div class="text-center p-4 d-flex fonte-footer" style="background-color: rgba(0, 0, 0, 0.05);">
        <div class="col-6 text-medium">2023 © COIDS - Coordenação de Infraestrutura de Dados e Supercomputação</div>
        <div class="col-6 text-medium">Desenvolvimento: COIDS/WEB</div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table-Rv2').DataTable({
                // paging: false,    
                // scrollY: 400,
            });
        });
    </script>
    </body>
    </html>
    